{% extends "base.html"%}{% block content %} 

<section class ="content">
<section class ="post_form">
    Post Form
</section>
<section class=""posts>
    <ul>
    {% for post in posts%}
    <li> 
        <div class="logo">
        <img src = "static/img/user.png">
        </div>
        <div class="name_body">
        <div class="name">{{post.name}}</div>
        <div class="datetime">{{post.created_at}}</div>
        <p>{{post.body}}</p>
        </div>
    </li>
    {% endfor %}
    </ul>
</section>
</section>



{% endblock %}
